<div class="container">
	<div class="row">
		<div class="col-sm-3 panel panel-default">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" ng-class="{active : isHome}">
					<a href="#" ng-click="navigate('home');">Home</a>
				</li>

				<li role="presentation" ng-class="{active : isTasks}" ng-click="navigate('tasks');">
					<a href="#">Feladatok</a>
				</li>

				<li role="presentation" ng-class="{active : isJobs}" ng-click="navigate('jobs');">
					<a href="#">Munkák</a>
				</li>

				<li role="presentation" ng-class="{active : isHallOfFame}" ng-click="navigate('hallOfFame');">
					<a href="#">A Ranglista</a>
				</li>
			</ul>
		</div>


		<!-- home -->
		<div class="col-sm-9">
			<div class="panel panel-defaul" ng-if="isHome">
				<div class="panel-body">
					<h1>
						Hello, {{user.firstName}}!
					</h1>
					<p>
						Hogy vagy? Nagyon örülünk, hogy benéztél hozzánk!
					</p>

					<div ng-show="isFirstTask">
						<p>
							Úgy tűnik, még nem oldottál meg egy feladatot sem. Azt javasoljuk, hogy kezd a 
							<a href="#" ng-click="firstTask();">Bemelegítéssel</a> - ez egy nagyon egyszerű feladat, ahol megismerheted a rendszer működését.
							<div>
								<button class="btn btn-default" ng-click="firstTask();">
									OK, Bemelegítek!
								</button>
							</div>
						</p>
					</div>

					<p ng-show="!isFirstTask">
						Nem érdekel a következő feladat? Szerintünk elég érdekes!
						<br/>
						<b>
							<a href="#" ng-click="navigate('tasks');">{{recommendTask().name}}</a>
						</b>
					</p>

					</p>

					<div class="row">
						<div class="col-sm-7">
							<p>
								<h3>
									<span class="badge" style="font-size: 400%">{{totalScore}}</span>
									pontot gyüjtöttél eddig</h3>
								<h4>
									<span class="badge" style="font-size: 300%">{{rewardList.length}}</span>
									feladatot oldottál meg
								</h4>
							</p>

							<div class="progress" ng-show="rewardList.length > 0">
							 	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
							    {{progress}}
								</div>
							</div>

							Gyűjts pontokat, hogy új szuperhős szintre léphessél! A következő szint
							a 
							<b>{{getNextLevelSet(totalScore).label}} </b>
							és már csak 
							<b>{{getLevelSet(totalScore).upperLimit - totalScore}} </b>
							pontot kell gyűjtened, hogy elérd!
						</div>
						<div class="col-sm-5">
							<h4>Szuperhős szinted:</h4>
							<h3>{{getLevelSet(totalScore).label}}</h3>
							<img class="img-responsive" ng-src="{{getLevelSet(totalScore).img}}"/>
						</div>
					</div>

					<div ng-show="!isFirstTask">
						<h2>Már ezeket a feladatokat megoldottad</h2>
						<div ng-repeat="reward in rewardList">
							<span class="glyphicon glyphicon-star" style="color: #18bc9c" aria-hidden="true"></span>

							{{reward.name}}

							<span class="badge">{{reward.score}}</span>
						</div>
					</div>

				</div>
			</div>
			<!-- home end-->

			<!-- tasks -->
			<div class="panel panel-defaul" ng-if="isTasks">
				<div class="panel-body">
					<div ng-if="selectedTask != undefined && !taskProcessing">
						<h1>
							{{selectedTask.name}}
							<span class="badge">
								{{getLevelLabel(selectedTask.level);}}
							</span>
						</h1>

						<p>
							<div ng-bind-html="selectedTask.description"></div>
						</p>

						<textarea class="form-control codeArea" ng-model="selectedTask.code"></textarea>

						<button class="btn btn-success" ng-click="submitTask(selectedTask._id, selectedTask.code);">
							OK
						</button>

						<button class="btn btn-default" ng-click="cancelTask();">
							Vissza
						</button>
					</div>

					<div ng-if="taskProcessing">
						Dolgozunk...
					</div>

					<div ng-if="selectedTask == undefined">
						<div class="row">
							<div class="col-sm-8">
								<p>
								Ezek a megoldásra váró feladatok. Minden feladatot a böngészőben oldhatsz meg, semmit sem kell letöltened. A rendszer azonnal értékeli a megoldást, így láthatod, hogyan sikerült. Az sem baj, ha elsőre nem sikerül, akárhányszor próbálkozhatsz.
								</p>
								<p>
								Egy dolog még fontos: mivel most indultunk, egyelőre még csak kevés feladatunk van, és csak a JavaScript motor működik. Nagyon örülnénk, ha az oldal alján található szavazáson megjelölnéd, melyik nyelv legyen a követekező! Köszi!
								</p>
								<p>
								(pro tipp: a JavaScript egy nagyon egyszerű nyelv! Ha nincs benne nagy tapasztalatod, akkor is vágj bele bátran, legalább lesz miért megtanulni :)
								</p>
							</div>

							<div class="col-sm-4">
								<img class="img-responsive" src="assets/lego_programmer.png"/>
							</div>
						</div>

						<table class="table">
							<tr>
								<th>Feladat</th>
								<th>Szint</th>
								<th>Pont</th>
							</tr>

							<tr ng-repeat="task in taskList">
								<td>
									<a ng-if="task.available && task.completed == false" href="#" ng-click="selectTask(task._id)">
										{{task.name}}
									</a>
									<span ng-if="!task.available || task.completed == true">
										{{task.name}}
									</span>

									<span ng-if="task.completed == true" class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #18bc9c"></span>
								</td>

								<td>
									<span class="badge">
										{{getLevelLabel(task.level);}}
									</span>
								</td>

								<td>
									<span class="badge">
										{{task.score}}
									</span>
								</td>
							</tr>
						</table>

						<iframe width="100%" height="100%" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/RTLNY3T"></iframe>

					</div>
				</div>
			</div>
			<!-- tasks end -->

			<!-- jobs -->
			<div class="panel panel-defaul" ng-if="isJobs">
				<div class="panel-body">
					<h1>Találj munkát!</h1>

						<div class="row">
							<div class="col-sm-8">
								<p>
									Itt azokat a munkáltatókat fogjuk listázni, akik úgy döntöttek, hogy
									előre felfedik magukat. Lesznek olyan feladatok is, amelyeket egy konkrét állással kapcsolatban oldhatsz meg.
								</p>
								<p>
									Nemrégen indultunk, úgyhogy ez a rész még üres. Nagyon örülnénk, ha válaszolnál a következő két kérdésre. Köszönjük!
								</p>


							</div>

							<div class="col-sm-4">
								<img class="img-responsive" src="assets/working_cat.jpg"/>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<iframe width="100%" height="100%" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/RFYQXX3"></iframe>
							</div>
							<div class="col-md-6">
								<iframe width="100%" height="100%" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/RTLNY3T"></iframe>
							</div>
						</div>


				</div>
			</div>
			<!-- jobs end -->

			<!-- hall of fame -->
			<div class="panel panel-defaul" ng-if="isHallOfFame">
				<div class="panel-body">
					<h1>Itt lesz hamarosan a ranglista</h1>
					<h3>Te biztosan rajta leszel, nem?:)</h3>

					<div class="row">
						<div class="col-md-6">
								<iframe width="100%" height="100%" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/RFYQXX3"></iframe>
						</div>
						<div class="col-md-6">
								<iframe width="100%" height="100%" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/RTLNY3T"></iframe>
						</div>
					</div>
				</div>
			</div>
			<!-- hall of fame en -->
		</div>
	</div>
</div>


<!-- Pass Modal -->
<div class="modal fade" id="taskPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        	Helyes!
        </h4>
      </div>
      <div class="modal-body">

      	<div class="row">
      		<div class="col-sm-6">
      			Gratulálunk! Kiválóan oldottad meg a feladatot! 
      			<b>{{scoreGained}}</b>
      			pont a jutalmad.
      			<p/>
      			Ne állj le, oldj meg még több feladatot, hogy te legyél a legjobb!
      			<p/>
      			Tetszett? Üzend meg nekünk!

			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://geekwerk.herokuapp.com/" data-text="Megoldottam egy feladatot!" data-via="geekwerk" data-size="large" data-related="geekwerk" data-hashtags="javascript">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      		</div>

      		<div class="col-sm-6">
      			<img class="img-responsive" src="assets/happy_cat.jpg"/>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Fail Modal -->
<div class="modal fade" id="taskFailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        	Jajj..sajnos nem.
        </h4>
      </div>
      <div class="modal-body">

      	<div class="row">
      		<div class="col-sm-6">
				<p>
					Valami nem stimmel a megoldásoddal.
				<p/>

				<p ng-if="failMessage">
					Valószínűleg valamit elütöttél. Talán ez a hibaüzenet segít megtalálni a hibát:
					<br/>
					<span style="background: yellow">
						{{failMessage}}
					</span>
				</p>

				<p ng-if="!failMessage">
					A kódod hibátlanul lefut, viszont a logika valahol hibás. Minden lehetőségre gondoltál?
				</p>

				<p>
					De semmi baj, akárhányszor újra próbálkozhatsz!
				</p>
      		</div>

      		<div class="col-sm-6">
      			<img class="img-responsive" src="assets/unhappy_cat.jpg"/>
      		</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>